@import '../../index.scss';

.file{
    $self: &;
    display:grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    margin: 20px 0;
    padding: 10px 0;
    align-items: center;
    border-bottom: 2px solid $mainFontColor;
    cursor:pointer;
    transition:all .2s ease ;
    &:hover{
        transform: scale(1.1);
        #{$self}__date{
            grid-column-start:3;
            justify-self: center;
            
        }
        #{$self}__size{
            grid-column-start:4;
            justify-self: center;
        }

        button{
            display: block;
        }
    }

    &__img{
        grid-column-start: 1;
        
    }
    &__name{
        grid-column-start: 2;
        
    }
    &__date{
        grid-column-start:5;
        justify-self: center;
    }
    &__size{
        grid-column-start:6;
        justify-self: center;
    }
    button{
        display: none;
    }

}