@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Variables */

$mainFontColor: #566885;


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    transition: all .2s ease;
    font-family: 'Roboto', 'sans-serif'
}

#root{
    height: 100vh;
    background: #E5E5E5;
}

.container{
    width:1140px;
    margin: 0 auto;
}
