@import '../../index.scss';

.auth__register{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    background: #fff;
    padding: 25px 33px 34px 33px;
    border-radius: 27px;
    p{
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: $mainFontColor;
        margin-bottom: 43px;
    }
    button{
        padding: 2px 30px 4px 25px;
        border-radius:12px;
        align-self: flex-end;
        border:0;
        outline:none;
        font-weight: 700;
        font-size: 22px;
        color:#fff;
        line-height:25,78px;
        background: $mainFontColor;
        cursor: pointer;
    }
    
}
